.header {
  display: flex;
  justify-content: left;
  background-color: #7dd6ff;
  padding: 10px;
  color: #fff;
}

.absolute-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.relative-header {
  position: relative;
  z-index: 100;
}


.divHeader {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 540px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.divHeader.h1 {
  font-size: 23px;
}

h1 span {
  display: block;
  font-size: 18px;
  margin-top: 5px;
}

.logo {
  width: 100%;
  max-width: 300px;
}

@media only screen and (max-width: 360px) {
  .header h1 {
    font-size: 20px;
    margin-top: 15px;
  }

  .header h1 span {
    font-size: 15px;
  }

  .header .logo {
    width: 220px;
    margin-top: 10px;
  }
}
