/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap CSS file. */
@import "@angular/cdk/overlay-prebuilt.css";

@font-face {
  font-family: "Libras 2019";
  src: url(./assets/fonts/Libras2019-Regular.ttf);
}

@font-face {
  font-family: "LIBRAS PROF CLEBER COUTO";
  src: url(./assets/fonts/Libras2013.ttf);
}

@font-face {
  font-family: "Libras-2016";
  src: url(./assets/fonts/Libras-2016.ttf);
}

@font-face {
  font-family: "Libras Black 2020";
  src: url(./assets/fonts/LibrasBlack2020-Regular.ttf);
}

@font-face {
  font-family: "Libras_Kidimais01";
  src: url(./assets/fonts/libras_kidimais01.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.base-root {
  background-color: #f1f1f1;
}

main {
  min-height: calc(100vh - 75px);
  overflow: hidden;
}

@media only screen and (max-width: 667px) {
  .sectionTop span {
    font-size: 18px !important;
  }
}

/* @media only screen and (max-width: 412px) {
 article .sectionTop {
    padding-left: 15px;
}
} */

@media only screen and (max-width: 360px) {
  article {
    min-height: calc(100vh - 180px);
  }
  .footerHome {
    margin-top: 20px !important;
  }
}

.footerHome {
  margin-top: 23px;
}

footer {
  align-self: end;
  grid-column: 2;
}

a {
  color: #042e68 !important;
  text-decoration: none !important;
  transition: 0.5s;
}

a:hover {
  color: #66e5f5 !important;
  transition: 0.5s;
  filter: brightness(80%);
}

a:active {
  color: #3f51b5;
}

/* PAGES */

.sectionTop {
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

.sectionTop span {
  padding: 12px;
  vertical-align: text-bottom;
  font-weight: bold;
  font-size: 20px;
}

.linkTop {
  font-size: 30px;
}

.formControl {
  padding: 4px;
  border-radius: 6px;
  font-size: 16px;
}

.formGroup {
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px;
}

.formGroup label {
  display: block;
  font-size: 22px;
  padding: 5px;
}

.resultName {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 25px;
  border: none;
  font-size: 75px;
  word-break: break-word;
  line-height: normal;
  text-align: center;
  color: #000;
}

.resultNameSheet {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 40px;
  border: none;
  font-size: 75px;
  word-break: break-word;
  line-height: normal;
  text-align: center;
  color: #000;
}

.result {
  font-size: 70px;
  border: 2px solid #979797;
  border-radius: 10px;
  background: #fff;
  padding: 15px;
  text-align: center;
  word-break: break-word;
  line-height: normal;
}

.inputCamp {
  border-radius: 8px;
  border: 2px solid #979797;
  padding: 10px;
  font-size: 20px;
  width: 100%;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  color: #3f51b5;
  font-weight: 900;
}

.link-button:hover {
  text-decoration: underline;
}

.iconClose svg {
  float: right;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 3px;
  font-size: 25px;
  color: #fff;
  background-color: #888;
}

.btn-orange {
  background-color: #003cff;
  border: none;
}

.btn-orange:hover {
  background-color: #003cff;
}

.fontLibrasA {
  font-family: "Libras 2019";
}

.fontLibrasB {
  font-family: "Libras-2016";
  padding-top: 25px;
}

.fontLibrasC {
  font-family: "LIBRAS PROF CLEBER COUTO";
  padding-top: 25px;
}

.fontLibrasD {
  font-family: "Libras Black 2020";
}

.fontLibrasE {
  font-family: "Libras_Kidimais01";
}

/*  CDK Overlay Backdrop  */

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
}

.overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.overlay-panel {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

#video-container {
  position: relative;
  width: 640px;
  height: 480px;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.gif-loading {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  width: 200px;
  height: 200px;
}

.loading-gif {
  position: relative;
  margin-bottom: 10px;
}

.gif-container,
.img-container {
  position: relative;
  height: 325px;
}

@media only screen and (max-width: 667px) {
  .gif-container,
  .img-container {
    height: 28dvh;
  }
}

.spinner {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  border: 6px solid #ccc;
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 10;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.gif-container-greeting,
.img-container {
  position: relative;
  height: 290px;
}

@media only screen and (max-width: 667px) {
  .gif-container-greeting,
  .img-container {
    height: 40dvh;
  }
}

.btn:hover {
  background-color: #a8a8a8;
  color: #414141;
}
