<footer>
  <div>
    <a style="cursor: pointer" routerLink="/termos" class="me-1"
      >Termos de Uso</a
    >|
    <a style="cursor: pointer" routerLink="/privacidade"
      >Política de Privacidade</a
    >
  </div>
  Versão: {{ version }} | © Libras Virtual - {{ currentYear }} |
  <span
    >Flavio Milani
    <a
      class="me-1"
      href="https://www.linkedin.com/in/flavio-milani/"
      target="_blank"
      rel="noreferrer"
    >
      <bi name="linkedin" class="sizeIcon"></bi>
    </a>
  </span>
  <span>ISBN 978-65-01-61443-4</span>
</footer>
